/* Navbar Styles */
.navbar {
  background: linear-gradient(90deg, #b30000, #ff1a1a);
  color: #fff;
  padding: 12px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.logo { 
  font-size: 22px; 
  font-weight: bold; 
  margin: 0; 
}

/* Search Bar Design */
.search-wrapper { 
  flex: 1; 
  display: flex; 
  justify-content: center; 
  margin: 0 15px; 
}

.search-bar-container {
  display: flex;
  align-items: center;
  border: 3.5px solid white;
  border-radius: 50px; 
  padding: 4px 10px;
  width: 100%;
  max-width: 500px;
  height: 42px;
}

.search-icon-bg {
  background-color: white;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 0 12px;
  font-size: 16px;
}

.search-input::placeholder { 
  color: rgba(255, 255, 255, 0.8); 
}

.right-icons-group { 
  display: flex; 
  gap: 12px; 
}

.icon-white { 
  font-size: 18px; 
  color: white; 
  cursor: pointer; 
}

.nav-links a { 
  color: #fff; 
  text-decoration: none; 
  margin-left: 20px; 
  font-weight: 500; 
}

.cart-count { 
  background: #fff; 
  color: #b30000; 
  padding: 2px 7px; 
  border-radius: 50%; 
  font-size: 12px; 
  font-weight: bold; 
}


body {
  margin: 0;
  padding: 0;
  /* background-image: url("./assets/bg.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}